@font-face {
	font-family: 'AmaticSC-Bold';
	src: url('../fonts/amatic/AmaticSC-Bold.woff2') format('woff2'),
		 url('../fonts/amatic/AmaticSC-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'AmaticSC-Regular';
	src: url('../fonts/amatic/AmaticSC-Regular.woff2') format('woff2'),
		 url('../fonts/amatic/AmaticSC-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BadScript';
	src: url('../fonts/badscript/BadScript-Regular.woff2') format('woff2'),
		 url('../fonts/badscript/BadScript-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

